:root{
 --palette-00000009:#00000009;
 --palette-0000000b:#0000000b;
 --palette-0001:#0001;
 --palette-0002:#0002;
 --palette-0003:#0003;
 --palette-0006:#0006;
 --palette-07101ccb:#07101ccb;
 --palette-10151c:#10151c;
 --palette-1318211a:#1318211a;
 --palette-143d3a:#143d3a;
 --palette-15202a33:#15202a33;
 --palette-160b2466:#160b2466;
 --palette-171f28:#171f28;
 --palette-172331:#172331;
 --palette-192632:#192632;
 --palette-1b2029:#1b2029;
 --palette-1b2530:#1b2530;
 --palette-1c3037:#1c3037;
 --palette-202731:#202731;
 --palette-202b35:#202b35;
 --palette-222a34:#222a34;
 --palette-222b36:#222b36;
 --palette-22333c:#22333c;
 --palette-244a3e:#244a3e;
 --palette-252a36:#252a36;
 --palette-25303b:#25303b;
 --palette-25303c55:#25303c55;
 --palette-26303b:#26303b;
 --palette-27203705:#27203705;
 --palette-27323d:#27323d;
 --palette-28313d:#28313d;
 --palette-28323e:#28323e;
 --palette-28333f:#28333f;
 --palette-29333e:#29333e;
 --palette-2a343e:#2a343e;
 --palette-2b3540:#2b3540;
 --palette-2b3642:#2b3642;
 --palette-2c3845:#2c3845;
 --palette-303b46:#303b46;
 --palette-32104720:#32104720;
 --palette-323e4c:#323e4c;
 --palette-32425418:#32425418;
 --palette-33424e:#33424e;
 --palette-34373a:#34373a;
 --palette-34404f:#34404f;
 --palette-34424d:#34424d;
 --palette-35404c:#35404c;
 --palette-35424e:#35424e;
 --palette-35434f:#35434f;
 --palette-354351:#354351;
 --palette-362347:#362347;
 --palette-363a3e:#363a3e;
 --palette-364350:#364350;
 --palette-384451:#384451;
 --palette-384653:#384653;
 --palette-384654:#384654;
 --palette-393048:#393048;
 --palette-394754:#394754;
 --palette-394855:#394855;
 --palette-394f4b:#394f4b;
 --palette-3a424e:#3a424e;
 --palette-3b4552:#3b4552;
 --palette-3b4858:#3b4858;
 --palette-3b4c6d:#3b4c6d;
 --palette-3c7b5d:#3c7b5d;
 --palette-3e4046:#3e4046;
 --palette-3e5365:#3e5365;
 --palette-3f4550:#3f4550;
 --palette-3fc4a8:#3fc4a8;
 --palette-40384e:#40384e;
 --palette-413249:#413249;
 --palette-415466:#415466;
 --palette-42505f:#42505f;
 --palette-43334f:#43334f;
 --palette-43505d:#43505d;
 --palette-43505f:#43505f;
 --palette-435260:#435260;
 --palette-435a71:#435a71;
 --palette-445363:#445363;
 --palette-45474c:#45474c;
 --palette-465361:#465361;
 --palette-465463:#465463;
 --palette-467e69:#467e69;
 --palette-475465:#475465;
 --palette-475665:#475665;
 --palette-484b51:#484b51;
 --palette-485061:#485061;
 --palette-4a4e59:#4a4e59;
 --palette-4b596b:#4b596b;
 --palette-4c5359:#4c5359;
 --palette-4d265f:#4d265f;
 --palette-503b3c:#503b3c;
 --palette-514161:#514161;
 --palette-514532:#514532;
 --palette-51c7ab:#51c7ab;
 --palette-526273:#526273;
 --palette-52a985:#52a985;
 --palette-52c4ad:#52c4ad;
 --palette-546170:#546170;
 --palette-555:#555;
 --palette-55c7ad:#55c7ad;
 --palette-563446:#563446;
 --palette-566271:#566271;
 --palette-566677:#566677;
 --palette-57535d:#57535d;
 --palette-595263:#595263;
 --palette-596a83:#596a83;
 --palette-596b7d:#596b7d;
 --palette-5abca7:#5abca7;
 --palette-5c2483:#5c2483;
 --palette-5c24830a:#5c24830a;
 --palette-5c248320:#5c248320;
 --palette-5cad9a:#5cad9a;
 --palette-60c6a7:#60c6a7;
 --palette-61573f:#61573f;
 --palette-61727f:#61727f;
 --palette-617284:#617284;
 --palette-625b69:#625b69;
 --palette-687586:#687586;
 --palette-69758255:#69758255;
 --palette-6b4090:#6b4090;
 --palette-71369a:#71369a;
 --palette-71608a:#71608a;
 --palette-73429a:#73429a;
 --palette-74667f:#74667f;
 --palette-74797b:#74797b;
 --palette-757b80:#757b80;
 --palette-758ba4:#758ba4;
 --palette-76d6b5:#76d6b5;
 --palette-776183:#776183;
 --palette-776596:#776596;
 --palette-777b80:#777b80;
 --palette-7b6a8405:#7b6a8405;
 --palette-7d379e:#7d379e;
 --palette-7d509c:#7d509c;
 --palette-7d668d:#7d668d;
 --palette-7d7288:#7d7288;
 --palette-7d98cb:#7d98cb;
 --palette-7e8087:#7e8087;
 --palette-7e849819:#7e849819;
 --palette-7e8997:#7e8997;
 --palette-7f718d:#7f718d;
 --palette-80a792:#80a792;
 --palette-8292a3:#8292a3;
 --palette-836593:#836593;
 --palette-83c9b5:#83c9b5;
 --palette-8495a5:#8495a5;
 --palette-849b91:#849b91;
 --palette-85858d:#85858d;
 --palette-8698ac:#8698ac;
 --palette-8b8395:#8b8395;
 --palette-8b9fac:#8b9fac;
 --palette-8c759f:#8c759f;
 --palette-8c7ea0:#8c7ea0;
 --palette-8caaa0:#8caaa0;
 --palette-8f8a94:#8f8a94;
 --palette-8f98a5:#8f98a5;
 --palette-8fa0b2:#8fa0b2;
 --palette-8fa0b3:#8fa0b3;
 --palette-9153b2:#9153b2;
 --palette-917ba2:#917ba2;
 --palette-918598:#918598;
 --palette-918599:#918599;
 --palette-919198:#919198;
 --palette-91d4b4:#91d4b4;
 --palette-929ba8:#929ba8;
 --palette-92a3b5:#92a3b5;
 --palette-93829f:#93829f;
 --palette-939aa7:#939aa7;
 --palette-93a0ad:#93a0ad;
 --palette-94a0af:#94a0af;
 --palette-9568b4:#9568b4;
 --palette-95909c:#95909c;
 --palette-95959c:#95959c;
 --palette-95989c:#95989c;
 --palette-959fab:#959fab;
 --palette-95a3bc:#95a3bc;
 --palette-9669b4:#9669b4;
 --palette-96969d:#96969d;
 --palette-96a1af:#96a1af;
 --palette-96a7b9:#96a7b9;
 --palette-97a4b3:#97a4b3;
 --palette-985063:#985063;
 --palette-98656b:#98656b;
 --palette-98a6b5:#98a6b5;
 --palette-99989f:#99989f;
 --palette-999ba1:#999ba1;
 --palette-9a8aa8:#9a8aa8;
 --palette-9a8ba8:#9a8ba8;
 --palette-9a8bab:#9a8bab;
 --palette-9aacbb:#9aacbb;
 --palette-9b8bb2:#9b8bb2;
 --palette-9b8eaf:#9b8eaf;
 --palette-9ba8b5:#9ba8b5;
 --palette-9babbc:#9babbc;
 --palette-9ca3ad:#9ca3ad;
 --palette-9ca9b8:#9ca9b8;
 --palette-9daec0:#9daec0;
 --palette-9eacbb:#9eacbb;
 --palette-9fa5b0:#9fa5b0;
 --palette-9fb0c2:#9fb0c2;
 --palette-a09aa7:#a09aa7;
 --palette-a19aa8:#a19aa8;
 --palette-a1c8ef:#a1c8ef;
 --palette-a291cc:#a291cc;
 --palette-a295ae:#a295ae;
 --palette-a29ba9:#a29ba9;
 --palette-a2a1a9:#a2a1a9;
 --palette-a2a4a9:#a2a4a9;
 --palette-a2b2c3:#a2b2c3;
 --palette-a4a3aa:#a4a3aa;
 --palette-a4a6ae:#a4a6ae;
 --palette-a4b3c4:#a4b3c4;
 --palette-a58beb:#a58beb;
 --palette-a598b7:#a598b7;
 --palette-a5a4ac:#a5a4ac;
 --palette-a5a8ae:#a5a8ae;
 --palette-a5aeba:#a5aeba;
 --palette-a5afbd:#a5afbd;
 --palette-a6b6c8:#a6b6c8;
 --palette-a8a5af:#a8a5af;
 --palette-a9a3ad:#a9a3ad;
 --palette-a9b6c5:#a9b6c5;
 --palette-a9cbbb:#a9cbbb;
 --palette-aa91c1:#aa91c1;
 --palette-aa9bb7:#aa9bb7;
 --palette-aaa2af:#aaa2af;
 --palette-aaa2b0:#aaa2b0;
 --palette-aaa5af:#aaa5af;
 --palette-aaa6b0:#aaa6b0;
 --palette-aaa8b1:#aaa8b1;
 --palette-aaaab0:#aaaab0;
 --palette-aab6c4:#aab6c4;
 --palette-aac3f5:#aac3f5;
 --palette-ab9abc:#ab9abc;
 --palette-abb8c8:#abb8c8;
 --palette-ac86d0:#ac86d0;
 --palette-ad5266:#ad5266;
 --palette-ad777d:#ad777d;
 --palette-ad7dde:#ad7dde;
 --palette-ae8ce3:#ae8ce3;
 --palette-aeb9c7:#aeb9c7;
 --palette-af97cb:#af97cb;
 --palette-afbfce:#afbfce;
 --palette-b0a7b9:#b0a7b9;
 --palette-b0abb5:#b0abb5;
 --palette-b1b8bc:#b1b8bc;
 --palette-b28ce5:#b28ce5;
 --palette-b2aeb7:#b2aeb7;
 --palette-b3aaca66:#b3aaca66;
 --palette-b3aeb7:#b3aeb7;
 --palette-b3becc:#b3becc;
 --palette-b4c0cc:#b4c0cc;
 --palette-b6a5c9:#b6a5c9;
 --palette-b6c5d2:#b6c5d2;
 --palette-b6cdeb:#b6cdeb;
 --palette-b6dece:#b6dece;
 --palette-b7a5c3:#b7a5c3;
 --palette-b7b4bc:#b7b4bc;
 --palette-b7c0cd:#b7c0cd;
 --palette-b7c5d4:#b7c5d4;
 --palette-b8c6d4:#b8c6d4;
 --palette-b8d4d6:#b8d4d6;
 --palette-b992d2:#b992d2;
 --palette-b9c5d0:#b9c5d0;
 --palette-b9edcf:#b9edcf;
 --palette-ba91e5:#ba91e5;
 --palette-ba94a5:#ba94a5;
 --palette-ba9cda:#ba9cda;
 --palette-bbb4c1:#bbb4c1;
 --palette-c1a3da:#c1a3da;
 --palette-c3a2d8:#c3a2d8;
 --palette-c3cbd6:#c3cbd6;
 --palette-c3cedb:#c3cedb;
 --palette-c4a6de:#c4a6de;
 --palette-c4afce:#c4afce;
 --palette-c4bfce:#c4bfce;
 --palette-c4cbd4:#c4cbd4;
 --palette-c6d0dc:#c6d0dc;
 --palette-c997e4:#c997e4;
 --palette-cfc3bf:#cfc3bf;
 --palette-d0a8ef:#d0a8ef;
 --palette-d2b6e9:#d2b6e9;
 --palette-d3b67b:#d3b67b;
 --palette-d6dcee:#d6dcee;
 --palette-d7dfe9:#d7dfe9;
 --palette-d8e0e8:#d8e0e8;
 --palette-d98e86:#d98e86;
 --palette-d9c9e5:#d9c9e5;
 --palette-dab7f866:#dab7f866;
 --palette-dac2e9:#dac2e9;
 --palette-dad8ea65:#dad8ea65;
 --palette-ddd:#ddd;
 --palette-dde6ef:#dde6ef;
 --palette-e09292:#e09292;
 --palette-e1d6eb:#e1d6eb;
 --palette-e2d7eb:#e2d7eb;
 --palette-e2e6ec:#e2e6ec;
 --palette-e38c91:#e38c91;
 --palette-e3dbed:#e3dbed;
 --palette-e3e3e7:#e3e3e7;
 --palette-e4d7ee:#e4d7ee;
 --palette-e5e0e9:#e5e0e9;
 --palette-e5e0ed:#e5e0ed;
 --palette-e5e1e8:#e5e1e8;
 --palette-e5e1ed:#e5e1ed;
 --palette-e5e8ee:#e5e8ee;
 --palette-e5e8ef:#e5e8ef;
 --palette-e6e4e9:#e6e4e9;
 --palette-e6e5e9:#e6e5e9;
 --palette-e6e7e9:#e6e7e9;
 --palette-e6e8ef:#e6e8ef;
 --palette-e7e4ed:#e7e4ed;
 --palette-e7e6ea:#e7e6ea;
 --palette-e7e7eb:#e7e7eb;
 --palette-e7eeeb:#e7eeeb;
 --palette-e8b863:#e8b863;
 --palette-e8c77e:#e8c77e;
 --palette-e8dfef:#e8dfef;
 --palette-e8e3ef:#e8e3ef;
 --palette-e8e6ed:#e8e6ed;
 --palette-e8e8ea:#e8e8ea;
 --palette-e9e0ef:#e9e0ef;
 --palette-e9e4ed:#e9e4ed;
 --palette-e9e9eb:#e9e9eb;
 --palette-eae3ef:#eae3ef;
 --palette-eae6ef:#eae6ef;
 --palette-eae7ed:#eae7ed;
 --palette-eaeaed:#eaeaed;
 --palette-edeaf0:#edeaf0;
 --palette-edf6f0:#edf6f0;
 --palette-eee8f7:#eee8f7;
 --palette-eee9f6:#eee9f6;
 --palette-eeeaf3:#eeeaf3;
 --palette-eeebed:#eeebed;
 --palette-eeebf3:#eeebf3;
 --palette-eeebf4:#eeebf4;
 --palette-eeecee88:#eeecee88;
 --palette-eeedf0:#eeedf0;
 --palette-eeeeef:#eeeeef;
 --palette-eef1f7:#eef1f7;
 --palette-efeff1:#efeff1;
 --palette-f0eef3:#f0eef3;
 --palette-f0f1fb:#f0f1fb;
 --palette-f1eaf7:#f1eaf7;
 --palette-f2eaf8:#f2eaf8;
 --palette-f3eafa:#f3eafa;
 --palette-f3f0f5:#f3f0f5;
 --palette-f5f0f8:#f5f0f8;
 --palette-f5f5f5:#f5f5f5;
 --palette-f6f1fa:#f6f1fa;
 --palette-f7f6f7:#f7f6f7;
 --palette-f8eaf0:#f8eaf0;
 --palette-f8f6fa:#f8f6fa;
 --palette-f9e9ee:#f9e9ee;
 --palette-f9fafc:#f9fafc;
 --palette-faf7fc:#faf7fc;
 --palette-faf9fb:#faf9fb;
 --palette-faf9fc:#faf9fc;
 --palette-fafafa:#fafafa;
 --palette-fafafb:#fafafb;
 --palette-fbf6f4:#fbf6f4;
 --palette-fbf8fd:#fbf8fd;
 --palette-fdfdfd:#fdfdfd;
 --palette-fff:#fff;
 --palette-ffffff1a:#ffffff1a;
 --palette-ffffffb3:#ffffffb3;
 --palette-ffffffd9:#ffffffd9;
}
